.app {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

@media screen and (max-width: 1024px) {
    nav {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .app {
        grid-template-columns: 1fr;
    }
}