.forgotPassDiv {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgotPassDiv div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgotPassForm {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forgotPassForm h1 {
    margin-bottom: 0.8rem;
}

.forgotPassForm div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.emailField {
    font-family: 'Readex Pro', sans-serif;
    width: 80%;
    border: none;
    padding: 1.3rem;
    font-size: 1.2rem;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.emailField:focus {
    outline: none;
    background-color: #efefef;
}

.forgotPassForm div button {
    cursor: pointer;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.2rem;
    border: none;
    padding: 1.3rem 1.6rem;
    background-color: #126466;
    color: #fff;
    border-radius: 8px;
}

.forgotPassForm p {
    color: #808080;
}