.info {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    padding: 1rem;
    background-color: #2c3135;
    margin-bottom: 1.5rem;
}

.authorPosts {
    display: flex;
}

.postActions {
    height: inherit;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.postEditBtn {
    padding: 0.6rem 1rem;
    background-color: #126466;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-family: 'Readex Pro', sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.postDeleteBtn {
    padding: 0.6rem 1rem;
    background-color: #e0e0e0;
    border: none;
    border-radius: 3px;
    color: #2c3135;
    font-family: 'Readex Pro', sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: 500;
}

@media screen and (max-width: 1024px) {
    .authorPostsDiv {
        margin-top: 2.5rem;
    }

    .info {
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    .postEditBtn {
        padding: 0.5rem 0.8rem;
    }

    .postDeleteBtn {
        padding: 0.5rem 0.8rem;
    }
}